* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 100%;
    }
}

@media screen and (max-width: 428px) {
    html {
        font-size: 87.5%;
    }
}

@media screen and (max-width: 390px) {
    html {
        font-size: 75%;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 67.5%;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 50%;
    }
}

/* -------------------------------------------------------- */

:root {
    --primary-color: #0F1524;
    --secondary-color: #2B3550;
    --tertiary-color: #1C243A;
    --quaternary-color: #000000;
    --quinary-color: #FFFFFF;
    --deeper-dark-green: #155C6E;
    --deeper-green: #216E15;
    --deeper-red: #8E1E0D;
    --text-dark: #AAB2B7;
    --detail-border: #0F1524;
    --type-color: #212B47;
}

/* -------------------------------------------------------- */

/* footer container */
.cba-footer-container {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 1rem 1rem;
    /* display: none; */
}

/* footer content */
.cba-footer-container  .cba-footer-content {
    width: 100%;
}

/* footer menu box */
.cba-footer-container  .cba-footer-content .cba-footer-menu-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
}

/* footer menu box content */
.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con {
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

/* menu 1 */
.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(1) {
    background-color: var(--deeper-dark-green);
}

.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(1) .cba-fmb-menu {
    padding-bottom: 4px;
}

.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(1):active .cba-fmb-menu {
    padding-bottom: 2px;
}

/* menu 2 */
.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(2) {
    background-color: var(--deeper-dark-green);
}

.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(2) .cba-fmb-menu {
    padding-bottom: 2px;
}

.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(2):active .cba-fmb-menu {
    padding-bottom: 0px;
}

/* menu 3 */
.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(3) {
    background-color: var(--deeper-dark-green);
}

.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(3) .cba-fmb-menu {
    padding-bottom: 2px;
}

.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(3):active .cba-fmb-menu {
    padding-bottom: 0px;
}

/* menu 4 */
.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(4) {
    background-color: var(--deeper-dark-green);
}

.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(4) .cba-fmb-menu {
    padding-bottom: 4px;
}

.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(4):active .cba-fmb-menu {
    padding-bottom: 2px;
}

/* footer menu box content spans */
.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con span:nth-child(1) {
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--deeper-dark-green);
    position: absolute;
    top: 0rem;
    left: 0rem;
    clip-path: polygon(0 0, 0 26%, 28% 0);
}

.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con span:nth-child(3) {
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--deeper-dark-green);
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    clip-path: polygon(100% 74%, 72% 100%, 100% 100%);
}

/* footer menu box content menu */
.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con .cba-fmb-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--quinary-color);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0rem;
    background-color: var(--tertiary-color);
    clip-path: polygon(16% 0, 100% 0, 100% 62%, 84% 100%, 0 100%, 0% 38%);
    /* icon */
    i {
        font-size: 2rem;
        color: var(--quinary-color);
    }
    /* text */
    h3 {
        font-size: 0.75rem;
        font-weight: 600;
        color: var(--quinary-color);
        margin: 0;
    }
}

/* 2nd and 3rd icon extra design */
.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(2) .cba-fmb-menu {
    i {
        font-size: 2.3rem;
        margin-bottom: -0.188rem;
    }
}
.cba-footer-container  .cba-footer-content .cba-footer-menu-box .cba-fmb-con:nth-child(3) .cba-fmb-menu {
    i {
        font-size: 2.3rem;
        margin-bottom: -0.188rem;
    }
}