* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 100%;
    }
}

@media screen and (max-width: 428px) {
    html {
        font-size: 87.5%;
    }
}

@media screen and (max-width: 390px) {
    html {
        font-size: 75%;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 67.5%;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 50%;
    }
}

/* -------------------------------------------------------- */

:root {
    --primary-color: #0F1524;
    --secondary-color: #2B3550;
    --tertiary-color: #1C243A;
    --quaternary-color: #000000;
    --quinary-color: #FFFFFF;
    --deeper-green: #155C6E;
}

/* --------------------------------------------------------- */
/* Header */
.cba-header-container {
    width: 100%;
    background-color: var(--quaternary-color);
    color: var(--quinary-color);
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 999;
}

/* header content */
.cba-header-container .cba-header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--quaternary-color);
    color: var(--quinary-color);
}

/* header logo */
.cba-header-container .cba-header-content .cba-header-brand-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cba-header-container .cba-header-content .cba-header-brand-logo-box .cba-hblb-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.cba-header-container .cba-header-content .cba-header-brand-logo-box .cba-hblb-con i {
    font-size:2rem;
    color: var(--quinary-color);
    margin-top: 0.1rem;
}

.cba-header-container .cba-header-content .cba-header-brand-logo-box .cba-hblb-con h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--quinary-color);
    margin: 0;
}

/* header notify and wallet */
.cba-header-container .cba-header-content .cba-header-notify-and-wallet-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* header notify */
.cba-header-container .cba-header-content .cba-header-notify-and-wallet-box .cba-header-notify-icon {
    cursor: pointer;
}

.cba-header-container .cba-header-content .cba-header-notify-and-wallet-box .cba-header-notify-icon i {
    font-size: 2rem;
    color: var(--quinary-color);
    margin-top: 0.3rem;
}

/* header wallet */
.cba-header-container .cba-header-content .cba-header-notify-and-wallet-box .cba-header-wallet-icon {
    cursor: pointer;
}

.cba-header-container .cba-header-content .cba-header-notify-and-wallet-box .cba-header-wallet-icon .cba-hwi-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cba-header-container .cba-header-content .cba-header-notify-and-wallet-box .cba-header-wallet-icon .cba-hwi-con i {
    font-size: 2rem;
    color: var(--quinary-color);
}

.cba-header-container .cba-header-content .cba-header-notify-and-wallet-box .cba-header-wallet-icon .cba-hwi-con p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--quinary-color);
    margin: 0;
}

/* --------------------------------------------------------- */