* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1524;
  --secondary-color: #2b3550;
  --tertiary-color: #1c243a;
  --quaternary-color: #000000;
  --quinary-color: #ffffff;
  --deeper-blue: #155c6e;
  --deeper-green: #216e15;
  --deeper-red: #8e1e0d;
  --text-dark: #aab2b7;
  --detail-border: #0f1524;
  --type-color: #212b47;
}
/* ==== MAIN SECTION === */
.sh-my-matches-main-section {
  justify-items: center;
  padding-bottom: 20px;
  background-color: var(--primary-color);
  height: 100vh;
  overflow-y: scroll;
}
/* === MY MATCHES CONTAINER === */
.sh-br-container {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 80px;

}
/* === MM CATEGORY BTN === */
.sh-br-category-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  color: var(--quinary-color);
  background-color: var(--secondary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-br-category-btn1 h1, span {
  font-size: 20px;
  font-weight: 600;
}
.sh-br-category-btn2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--quinary-color);
  padding: 0px 4px 6px 0px;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-br-category-btn3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: var(--tertiary-color);
  color: var(--quinary-color);
  padding: 0px 4px 6px 0px;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}

.sh-br-matches-cards-section {
  display: grid;
  row-gap: 16px;
}

/* === BR Mathces cards === */

.sh-brm-card {
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
}

/* === Title Box === */
.sh-brm-taile {
  display: flex;
  align-items: center;
  padding: 5px 5px 0px;
}

/* === Macth card image === */
.sh-brm-match-image {
  width: 50px;
  height: 50px;
  background-color: var(--tertiary-color);
  padding: 2px;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%
  );
  margin-right: 5px;
}
.sh-brm-match-image img {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%
  );
}

/* === Text Details === */
.sh-brm-text-details h1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--quinary-color);
}
.sh-brm-time {
  font-size: 16px;
}
.sh-brm-text-details input {
  color: var(--text-dark);
}
/* === Match Entry Details === */
.sh-brm-entry-details {
  display: grid;
  column-gap: 8px;
  padding: 0px 5px;
  grid-template-columns: repeat(3, 1fr);
}
.sh-brm-details1 {
  margin-top: 10px;
}
.sh-brm-win {
  text-align: center;
  color: var(--quinary-color);
  background-color: var(--deeper-green);
  clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
}
.sh-brm-kill {
  text-align: center;
  color: var(--quinary-color);
  background-color: var(--deeper-blue);
  clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
}
.sh-brm-fee {
  text-align: center;
  color: var(--quinary-color);
  background-color: var(--deeper-red);
  clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
}
.sh-brm-tk {
  text-align: center;
  color: var(--quinary-color);
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 65%, 92% 100%, 0 100%, 0 0);
}
.sh-brm-tk2 {
  text-align: center;
  padding: 0px 0px 2px 0px;
  background-color: var(--detail-border);
  clip-path: polygon(100% 0, 100% 68%, 92% 100%, 0 100%, 0 0);
}
.sh-brm-win,
.sh-brm-kill,
.sh-brm-fee,
.sh-brm-tk {
  font-size: 18px;
}
/* === Type Section === */
.sh-brm-type-section {
  display: grid;
  column-gap: 8px;
  margin-top: 8px;
  padding: 0px 5px;
  grid-template-columns: repeat(3, 1fr);
}
.sh-brm-type-box {
  text-align: center;
  color: var(--text-dark);
  background-color: var(--type-color);
  clip-path: polygon(90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%, 0 0);
}
.sh-brm-type-box p,
.sh-brm-joinig-counter p,
.sh-brm-details-box p {
  font-size: 16px;
}
.sh-brm-type-box1 {
  padding: 0 0 2px 0;
  background-color: var(--detail-border);
  clip-path: polygon(90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%, 0 0);
}
/* === Joining Section === */
.sh-brm-joining-section {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  align-items: start;
  padding: 0 5px;
  justify-content: space-between;
}
/* === Progress bar === */
.progress-bar {
  width: 100%;
}
.sh-bar {
  width: 100%;
  display: flex;
}
.sh-bar1 {
  width: 90%;
  height: 20px;
  border-radius: 100px;
  background-color: darkgreen;
}
.sh-bar2 {
  width: 100%;
  height: 20px;
  border-radius: 100px;
  background-color: var(--text-dark);
}
/* === Counter === */
.sh-brm-joinig-counter {
  display: flex;
  align-items: center;
  color: var(--text-dark);
  justify-content: space-between;
}
.sh-joining-box1 {
  width: 50%;
  text-align: center;
  padding: 0 0 2px 0;
  background-color: var(--primary-color);
  clip-path: polygon(8% 0, 100% 0%, 100% 74%, 92% 100%, 0 100%, 0 30%);
}
.sh-joning-box {
  font-size: 22px;
  padding: 4px;
  color: var(--quinary-color);
  background-color: var(--deeper-green);
  clip-path: polygon(8% 0, 100% 0%, 100% 72%, 92% 100%, 0 100%, 0 30%);
}
/* === Match Details === */
.sh-brm-details-section {
  display: grid;
  margin-top: 10px;
  column-gap: 8px;
  padding: 0 5px;
  grid-template-columns: repeat(3, 1fr);
}
.sh-brm-details-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--quinary-color);
  padding: 4px;
  background-color: var(--tertiary-color);
  clip-path: polygon(8% 0, 100% 0%, 100% 72%, 92% 100%, 0 100%, 0 30%);
}
.sh-brm-details-box1 {
  text-align: center;
  padding: 0 0 2px 0;
  background-color: var(--primary-color);
  clip-path: polygon(8% 0, 100% 0%, 100% 74%, 92% 100%, 0 100%, 0 30%);
}
/* === BR MATCH NUMBERING === */
.sh-brm-numbering-card {
  background-color: var(--quaternary-color);
  color: var(--quinary-color);
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  padding: 5px 14px;
}
.sh-brm-numbering-card span{
  font-size: 14px;
}
/* === Timer box === */
.sh-brm-timer-box {
  margin-top: 1rem;
  text-align: center;
  padding: 0.375rem 0rem;
  font-size: 1.25rem;
  color: var(--quinary-color);
  border-radius: 0rem 0rem 0.3125rem 0.3125rem;
  background-color: var(--deeper-green);
}
.sh-starting-time {
  font-size: 18px;
}


/* ------------------------------------------------ */
/* modal css */

/* prize modal */
.prize-modal-con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* modal box */
  .pd-modal {
    position: relative;
    top: 100px;
    width: 300px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    border-top-right-radius: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    z-index: 3;
    /* close btn */
    .pdm-close-btn {
      position: absolute;
      top: -46px;
      right: 0;
      padding: 0.8rem 0.8rem 0.6rem;
      cursor: pointer;
      background-color: #8e1e0d;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      i {
        color: #ffffff;
        font-size: 20px;
      }
    }
    /* content */
    .pdm-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      /* heading */
      .pdm-c-heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 0;
        border-radius: 10px;
        background-color: #0f1524;
        cursor: pointer;
        h3 {
          color: #ffffff;
          font-size: 16px;
          font-weight: 500;
        }
        h4 {
          color: #ffffff;
          font-size: 12px;
        }
      }
    }
    /* details */
    .pdm-c-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 15px;
      border-radius: 10px;
      background-color: #0f1524;
      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        li {
          color: #ffffff;
          font-size: 14px;
          font-weight: 500;
          i {
            margin-right: 8px;
            color: #F89827;
          }
        }
      }
    }
  }
}

/* ------------------------------------------------ */

/* room details modal */
.room-modal-con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* modal box */
  .rd-modal {
    position: relative;
    top: 100px;
    width: 300px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    border-top-right-radius: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    z-index: 3;
    /* close btn */
    .rdm-close-btn {
      position: absolute;
      top: -46px;
      right: 0;
      padding: 0.8rem 0.8rem 0.6rem;
      cursor: pointer;
      background-color: #8e1e0d;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      i {
        color: #ffffff;
        font-size: 20px;
      }
    }
    /* content */
    .rdm-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      /* heading */
      .rdm-c-heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 0;
        border-radius: 10px;
        background-color: #0f1524;
        cursor: pointer;
        h3 {
          color: #ffffff;
          font-size: 16px;
          font-weight: 500;
        }
        h4 {
          color: #ffffff;
          font-size: 12px;
        }
      }
    }
    /* details */
    .rdm-c-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 15px;
      border-radius: 10px;
      background-color: #0f1524;
      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        li {
          color: #ffffff;
          font-size: 14px;
          font-weight: 500;
          i {
            margin-right: 8px;
            color: #F89827;
          }
        }
      }
    }
  }
}