* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1524;
  --secondary-color: #2b3550;
  --tertiary-color: #1c243a;
  --quaternary-color: #000000;
  --quinary-color: #ffffff;
  --deeper-blue: #155c6e;
  --deeper-green: #216E15;
  --deeper-red: #8E1E0D;
  --text-dark: #AAB2B7;
  --detail-border: #0F1524;
  --type-color: #212B47;
}
/* ==== MAIN SECTION === */
.sh-dbi-main-section {
  justify-items: center;
  padding-bottom: 50px;
  background-color: var(--primary-color);
}
/* === MY MATCHES CONTAINER === */
.sh-dbi-container {
  width: 95%;
  margin-top: 20px;
}
/* === MM CATEGORY BTN === */
.sh-dbi-category-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  color: var(--quinary-color);
  background-color: var(--secondary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-dbi-category-btn2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--quinary-color);
  padding: 0px 4px 6px 0px;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-dbi-category-btn3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  padding: 0px 4px 6px 0px;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-dbi-category-btn1 {
  font-size: 1.25rem;
  font-weight: 500;
}
/* === DBI Card Section === */
.sh-dbi-card-section{
    margin-top: 18px;
    padding: 0.625rem;
    background-color: var(--tertiary-color);
    clip-path: polygon(100% 0, 100% 86%, 95% 100%, 0 100%, 0 0);
}
.sh-dbi{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  color: var(--quinary-color);
  background-color: var(--secondary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-dbi h1{
  font-size: 18px;
}
/* === Amount === */
.sh-dbi-amount{
    display: flex;
    margin-top: 16px;
    gap: 10px;
    border-radius: 5px;
    color: var(--quinary-color);
    padding: 10px 5px;
    background-color: var(--secondary-color);
}
.sh-dbi-amount input{
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: none;
}
/* === Submit btn === */
.sh-submit-btn{
    margin-top: 18px;
    padding: 0px 0px 2px 0px;
    background-color: var(--quinary-color);
    clip-path: polygon(3% 0, 100% 0, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-submit{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
    color: var(--quinary-color);
    background-color: var(--deeper-green);
    clip-path: polygon(3% 0, 100% 0, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
