* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Game Page */
.cba-game-page-container {
    display: flex;
    flex-direction: column;
    min-width: 420px;
    max-width: 768px;
    height: 100vh;
    overflow: scroll;
    background-color: #0F1524;
}

/* Game Page Content */
.cba-game-page-container .cba-gpc-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Game Page Heading */
.cba-game-page-container .cba-gpc-content .cba-gpc-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px 3px 0;
    background-color: #1C243A;
    clip-path: polygon(5% 0, 100% 0, 100% 65%, 95% 100%, 0 100%, 0 45%);
    margin: 1.5rem 0rem;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-heading .cba-gpc-hbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1524;
    clip-path: polygon(5% 0, 100% 0, 100% 65%, 95% 100%, 0 100%, 0 45%);
    padding: 0 2px 2px 0;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-heading .cba-gpc-hbox h2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 0.6rem 0.6rem;
    background-color: #2B3550;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
    clip-path: polygon(5% 0, 100% 0, 100% 65%, 95% 100%, 0 100%, 0 45%);
}

.cba-game-page-container .cba-gpc-content .cba-gpc-heading .cba-gpc-hbox h2 i {
    font-size: 1.5rem;
    color: #F89827;
}