* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 100%;
    }
}

@media screen and (max-width: 428px) {
    html {
        font-size: 87.5%;
    }
}

@media screen and (max-width: 390px) {
    html {
        font-size: 75%;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 67.5%;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 50%;
    }
}

/* -------------------------------------------------------- */

/* custom scroll bar */

.cba-game-page-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.cba-game-page-container::-webkit-scrollbar-track {
    background: linear-gradient(to top, var(--secondary-color), var(--quaternary-color));
}
.cba-game-page-container::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--secondary-color), var(--quaternary-color));
    border-radius:16px;
}
.cba-game-page-container::-webkit-scrollbar-button {
    display:none
}

/* Game Page */
.cba-game-page-container {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    height: 100vh;
    overflow-y: scroll;
    background-color: #0F1524;
}

/* Game Page Content */
.cba-game-page-container .cba-gpc-content {
    width: 92.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------------------- */

/* Game Page Heading */
.cba-game-page-container .cba-gpc-content .cba-gpc-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px 3px 0;
    background-color: #1C243A;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
    margin: 2rem 0rem;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-heading .cba-gpc-hbox {
    width: 100%;
    height: 100%;
    background-color: #0F1524;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
    padding: 0 2px 2px 0;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-heading .cba-gpc-hbox h2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 0rem;
    background-color: #2B3550;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: medium;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
}

.cba-game-page-container .cba-gpc-content .cba-gpc-heading .cba-gpc-hbox h2 i {
    font-size: 1.5rem;
    color: #F89827;
}

/* -------------------------------------------------------- */

/* Game Page Carousel */
.cba-game-page-container .cba-gpc-content .cba-gpc-carousel {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-carousel .cba-gpc-carousel-slider {
    display: flex;
    flex-wrap: nowrap;
    animation: carouselSlider 12s linear infinite;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-carousel .cba-gpc-carousel-slider img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes carouselSlider {
    0%   { transform: translateX(0%); }
    20%  { transform: translateX(0%); }

    25%  { transform: translateX(-100%); }
    45%  { transform: translateX(-100%); }

    50%  { transform: translateX(-200%); }
    70%  { transform: translateX(-200%); }

    75%  { transform: translateX(-300%); }
    95%  { transform: translateX(-300%); }

    100% { transform: translateX(0%); }
}


/* -------------------------------------------------------- */

/* Todays Match */

/* Game Page Todays Match heading */
.cba-game-page-container .cba-gpc-content .cba-gpc-todays-match .cba-gpc-tm-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px 3px 0;
    background-color: #1C243A;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
    margin: 2rem 0rem;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-todays-match .cba-gpc-tm-heading .cba-gpc-tm-hbox {
    width: 100%;
    height: 100%;
    background-color: #0F1524;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
    padding: 0 2px 2px 0;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-todays-match .cba-gpc-tm-heading .cba-gpc-tm-hbox h2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 0rem;
    background-color: #2B3550;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: medium;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
}

.cba-game-page-container .cba-gpc-content .cba-gpc-todays-match .cba-gpc-tm-heading .cba-gpc-tm-hbox h2 i {
    font-size: 1.5rem;
    color: #F89827;
}

/* game page todays match content matches */
.cba-game-page-container .cba-gpc-content .cba-gpc-todays-match .cba-gpc-tm-matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 2rem 0rem;
}

/* game page todays match content matches box */
.cba-game-page-container .cba-gpc-content .cba-gpc-todays-match .cba-gpc-tm-matches .cba-gpc-tmm-match-box {
    background-color: #2B3550;
    width: 100%;
    border-radius: 0.313rem;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

/* game page todays match content matches box image */
.cba-game-page-container .cba-gpc-content .cba-gpc-todays-match .cba-gpc-tm-matches .cba-gpc-tmm-match-box .cba-gpc-tmm-mb-img {
    width: 100%;
    height: fit-content;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.313rem;
    }
}

/* game page todays match content matches box data */
.cba-game-page-container .cba-gpc-content .cba-gpc-todays-match .cba-gpc-tm-matches .cba-gpc-tmm-match-box .cba-gpc-tmm-mb-data {
    background-color: #0F1524;
    padding: 0 2px 2px 0;
    clip-path: polygon(50% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
    /* inner box */
    .cba-gpc-tmm-mbd-inner {
        background-color: #1C243A;
        clip-path: polygon(50% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
        padding: 0.313rem 0.625rem;
        display: flex;
        flex-direction: column;
        /* inner box data design */
        h3 {
            color: #FFFFFF;
            font-size: 1.25rem;
            font-weight: 600;
        }
        p {
            color: #656E7F;
            font-size: 0.8rem;
            font-weight: 600;
        }
    }
}

/* -------------------------------------------------------- */

/* Special Match */

/* game page special match heading */
.cba-game-page-container .cba-gpc-content .cba-gpc-special-match .cba-gpc-sm-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px 3px 0;
    background-color: #1C243A;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
    margin: 1rem 0rem 2rem;
    cursor: pointer;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-special-match .cba-gpc-sm-heading .cba-gpc-sm-hbox {
    width: 100%;
    height: 100%;
    background-color: #0F1524;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
    padding: 0 2px 2px 0;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-special-match .cba-gpc-sm-heading .cba-gpc-sm-hbox h2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 0rem;
    background-color: #2B3550;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: medium;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
}

.cba-game-page-container .cba-gpc-content .cba-gpc-special-match .cba-gpc-sm-heading .cba-gpc-sm-hbox h2 i {
    font-size: 1.5rem;
    color: #F89827;
}

/* game page special match content matches */
.cba-game-page-container .cba-gpc-content .cba-gpc-special-match .cba-gpc-sm-matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 2rem 0rem 2.25rem;
    display: none;
    &.sm-active {
        display: grid;
    }
}

/* game page special match content matches box */
.cba-game-page-container .cba-gpc-content .cba-gpc-special-match .cba-gpc-sm-matches .cba-gpc-smm-match-box {
    background-color: #2B3550;
    width: 100%;
    border-radius: 0.313rem;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

/* game page special match content matches box image */
.cba-game-page-container .cba-gpc-content .cba-gpc-special-match .cba-gpc-sm-matches .cba-gpc-smm-match-box .cba-gpc-smm-mb-img {
    width: 100%;
    height: fit-content;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.313rem;
    }
}

/* game page special match content matches box data */
.cba-game-page-container .cba-gpc-content .cba-gpc-special-match .cba-gpc-sm-matches .cba-gpc-smm-match-box .cba-gpc-smm-mb-data {
    background-color: #0F1524;
    padding: 0 2px 2px 0;
    clip-path: polygon(50% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
    /* inner box */
    .cba-gpc-smm-mbd-inner {
        background-color: #1C243A;
        clip-path: polygon(50% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
        padding: 0.313rem 0.625rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* inner box data design */
        .cba-gpc-smm-mbd-i-text {
            h3 {
                color: #FFFFFF;
                font-size: 1.25rem;
                font-weight: 600;
            }
            p {
                color: #656E7F;
                font-size: 0.8rem;
                font-weight: 600;
            }
        }
        /* inner box data icon */
        .cba-gpc-smm-mbd-i-icon {
            i {
                font-size: 1.5rem;
                color: #FFFFFF;
            }
        }
    }
}

/* -------------------------------------------------------- */

/* One day after match */

/* Game Page One day after Match heading */
.cba-game-page-container .cba-gpc-content .cba-gpc-oda-match .cba-gpc-odam-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px 3px 0;
    background-color: #1C243A;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
    margin: 0rem 0rem 2rem;
    cursor: pointer;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-oda-match .cba-gpc-odam-heading .cba-gpc-odam-hbox {
    width: 100%;
    height: 100%;
    background-color: #0F1524;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
    padding: 0 2px 2px 0;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-oda-match .cba-gpc-odam-heading .cba-gpc-odam-hbox h2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 0.6rem;
    background-color: #2B3550;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: medium;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
}

.cba-game-page-container .cba-gpc-content .cba-gpc-oda-match .cba-gpc-odam-heading .cba-gpc-odam-hbox h2 i {
    font-size: 1.5rem;
    color: #FFFFFF;
}

/* game page one day after match content matches */
.cba-game-page-container .cba-gpc-content .cba-gpc-oda-match .cba-gpc-odam-matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 2rem 0rem;
    display: none;
    &.oda-active {
        display: grid;
    }
}

/* game page one day after match content matches box */
.cba-game-page-container .cba-gpc-content .cba-gpc-oda-match .cba-gpc-odam-matches .cba-gpc-odamm-match-box {
    background-color: #2B3550;
    width: 100%;
    border-radius: 0.313rem;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

/* game page one day after match content matches box image */
.cba-game-page-container .cba-gpc-content .cba-gpc-oda-match .cba-gpc-odam-matches .cba-gpc-odamm-match-box .cba-gpc-odamm-mb-img {
    width: 100%;
    height: fit-content;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.313rem;
    }
}

/* game page one day after match content matches box data */
.cba-game-page-container .cba-gpc-content .cba-gpc-oda-match .cba-gpc-odam-matches .cba-gpc-odamm-match-box .cba-gpc-odamm-mb-data {
    background-color: #0F1524;
    padding: 0 2px 2px 0;
    clip-path: polygon(50% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
    /* inner box */
    .cba-gpc-odamm-mbd-inner {
        background-color: #1C243A;
        clip-path: polygon(50% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
        padding: 0.313rem 0.625rem;
        display: flex;
        flex-direction: column;
        /* inner box data design */
        h3 {
            color: #FFFFFF;
            font-size: 1.25rem;
            font-weight: 600;
        }
        p {
            color: #656E7F;
            font-size: 0.8rem;
            font-weight: 600;
        }
    }
}

/* ------------------------------------------------------------ */

/* Two day after match */

/* Game Page two day after Match heading */
.cba-game-page-container .cba-gpc-content .cba-gpc-tda-match .cba-gpc-tdam-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px 3px 0;
    background-color: #1C243A;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
    margin: 0rem 0rem 2rem;
    cursor: pointer;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-tda-match .cba-gpc-tdam-heading .cba-gpc-tdam-hbox {
    width: 100%;
    height: 100%;
    background-color: #0F1524;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
    padding: 0 2px 2px 0;
}

.cba-game-page-container .cba-gpc-content .cba-gpc-tda-match .cba-gpc-tdam-heading .cba-gpc-tdam-hbox h2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 0.6rem;
    background-color: #2B3550;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: medium;
    clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 45%);
}

.cba-game-page-container .cba-gpc-content .cba-gpc-tda-match .cba-gpc-tdam-heading .cba-gpc-tdam-hbox h2 i {
    font-size: 1.5rem;
    color: #FFFFFF;
}

/* game page two day after match content matches */
.cba-game-page-container .cba-gpc-content .cba-gpc-tda-match .cba-gpc-tdam-matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 2rem 0rem 3rem;
    display: none;
    &.tda-active {
        display: grid;
    }
}

/* game page two day after match content matches box */
.cba-game-page-container .cba-gpc-content .cba-gpc-tda-match .cba-gpc-tdam-matches .cba-gpc-tdamm-match-box {
    background-color: #2B3550;
    width: 100%;
    border-radius: 0.313rem;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

/* game page two day after match content matches box image */
.cba-game-page-container .cba-gpc-content .cba-gpc-tda-match .cba-gpc-tdam-matches .cba-gpc-tdamm-match-box .cba-gpc-tdamm-mb-img {
    width: 100%;
    height: fit-content;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.313rem;
    }
}

/* game page two day after match content matches box data */
.cba-game-page-container .cba-gpc-content .cba-gpc-tda-match .cba-gpc-tdam-matches .cba-gpc-tdamm-match-box .cba-gpc-tdamm-mb-data {
    background-color: #0F1524;
    padding: 0 2px 2px 0;
    clip-path: polygon(50% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
    /* inner box */
    .cba-gpc-tdamm-mbd-inner {
        background-color: #1C243A;
        clip-path: polygon(50% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
        padding: 0.313rem 0.625rem;
        display: flex;
        flex-direction: column;
        /* inner box data design */
        h3 {
            color: #FFFFFF;
            font-size: 1.25rem;
            font-weight: 600;
        }
        p {
            color: #656E7F;
            font-size: 0.8rem;
            font-weight: 600;
        }
    }
}

/* ------------------------------------------------------------ */