* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1524;
  --secondary-color: #2b3550;
  --tertiary-color: #1c243a;
  --quaternary-color: #000000;
  --quinary-color: #ffffff;
  --deeper-blue: #155c6e;
  --deeper-green: #216E15;
  --deeper-red: #8E1E0D;
  --text-dark: #AAB2B7;
  --detail-border: #0F1524;
  --type-color: #212B47;
}
/* ==== MAIN SECTION === */
.sh-md-main-section {
  justify-items: center;
}
/* === MY MATCHES CONTAINER === */
.sh-md-container {
  width: 95%;
  margin-top: 1.5rem;
}
/* === MM CATEGORY BTN === */
.sh-md-category-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-md-category-btn2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--quinary-color);
  padding: 0rem 0.125rem 0.25rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-md-category-btn3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  padding: 0rem 0.25rem 0.375rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-md-category-2btn3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  padding: 0rem 0.25rem 0.375rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-md-category-btn1 {
  font-size: 1.25rem;
  font-weight: 500;
}
/* === SOLO MATCH DETAILS SECTION === */
/* === SOLO MATCH DETAILS CARD CONTAINER === */
.sh-smd-card-container{
  margin-top: 1rem;
}
.sh-solo-md-card{
  padding: 0.3125rem;
  background-color: var(--secondary-color);
}
.sh-smd-card2{
  padding: 0.3125rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 93%, 96% 100%, 0 100%, 0 7%);
}
/* === SMD TYPE SECTION === */
.sh-smd-type-section{
  display: grid;
  column-gap: 0.1875rem;
  margin-top: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.sh-smd-type-box1{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--detail-border);
  clip-path: polygon(100% 0, 100% 80%, 95% 100%, 0 100%, 0 0);
}
.sh-smd-type-box2{
  padding: 0.1875rem 0rem 0.1875rem 0.125rem;
  text-align: start;
  color: var(--text-dark);
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 100% 79%, 95% 100%, 0 100%, 0 0);
}
.sh-smd-type-section-two{
  display: grid;
  column-gap: 0.1875rem;
  margin-top: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.sh-smd-type-box-last1{
  margin-top: 0.5rem;
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--detail-border);
  clip-path: polygon(100% 0, 100% 67%, 96% 100%, 0 100%, 0 0);
}
.sh-smd-type-box-last{
  padding: 0.1875rem 0rem 0.1875rem 0.125rem;
  text-align: start;
  color: var(--text-dark);
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 100% 65%, 96% 100%, 0 100%, 0 0);
}
.sh-smd-prize-card2{
  column-gap: 0.1875rem;
  margin-top: 1rem;

  grid-template-columns: repeat(2, 1fr);
  padding: 0.3125rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(4% 0, 100% 0%, 100% 87%, 96% 100%, 0 100%, 0 16%);
}
/* === smd notice === */
.smd-notice-box{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.3125rem;
  font-size: 1.125rem;
  color: var(--quinary-color);
  background-color: #DEA403;
  clip-path: polygon(100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
}
/* ============== */
.sh-smd-rules1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  background-color: var(--deeper-red);
  color: var(--quinary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-smd-rules2 {
  display: flex;
  width: 100%;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 0rem 0.125rem 0.25rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-smd-rules3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  margin-top: 1rem;
  background-color: var(--tertiary-color);
  color: var(--quinary-color);
  padding: 0rem 0.25rem 0.375rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-smd-rules1 {
  font-size: 1rem;
  font-weight: 500;
}
/* === HERE OUR RULES SECTION === */
.sh-smd-registered-player-section{
  padding: 0.3125rem;
  background-color: var(--secondary-color);
}
.sh-smd-rules-section{
  color: var(--quinary-color);
  margin-top: 1rem;
}
.sh-smd-rpp1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  background-color: var(--deeper-green);
  color: var(--quinary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-smd-rpp2 {
  display: flex;
  width: 100%;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 0rem 0.125rem 0.25rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-smd-rpp3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  margin-top: 1rem;
  background-color: var(--deeper-green);
  color: var(--quinary-color);
  padding: 0rem 0.25rem 0.375rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-smd-rpp1 {
  font-size: 1rem;
  font-weight: 500;
}
/* === PARITCIPANTS === */
.sh-smd-participants-name{
  display: grid;
  margin-top: 1rem;
  grid-row-gap: 0.3125rem;
}
.sh-smd-pn1{
  padding: 0.1875rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 65%, 97% 100%, 0 100%, 0 0);
}
.sh-smd-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, 100% 68%, 97% 100%, 0 100%, 0 0);
}
.sh-smd-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
/* === Duo Registered Partcipants Section === */
.sh-sdm-duo-team{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}
.sh-sdm-duo-team-num1{
  width: 40%;
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--deeper-green);
  clip-path: polygon(100% 0, 100% 67%, 90% 100%, 0 100%, 0 0);
}
.sh-sdm-duo-team-num2{
  padding-left: 0.3125rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 65%, 90% 100%, 0 100%, 0 0);
}
.sh-sdm-duo-team-num2, .sh-sdm-duo-team-name2 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
.sh-sdm-duo-team-name1{
  width: 100%;
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--deeper-green);
  clip-path: polygon(100% 0, 100% 65%, 95% 100%, 0 100%, 0 0);
}
.sh-sdm-duo-team-name2{
    padding-left: 0.3125rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 61%, 95% 100%, 0 100%, 0 0);
}