* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1524;
  --secondary-color: #2b3550;
  --tertiary-color: #1c243a;
  --quaternary-color: #000000;
  --quinary-color: #ffffff;
  --deeper-blue: #155c6e;
  --deeper-green: #216E15;
  --deeper-red: #8E1E0D;
  --text-dark: #AAB2B7;
  --detail-border: #0F1524;
  --type-color: #212B47;
}
/* ==== MAIN SECTION === */
.sh-mr-main-section {
  justify-items: center;
  background-color: var(--primary-color);
}
/* === MY MATCHES CONTAINER === */
.sh-mr-container {
  width: 95%;
  margin-top: 1.5rem;
}
/* === MM CATEGORY BTN === */
.sh-mr-category-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-mr-category-btn2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--quinary-color);
  padding: 0rem 0.125rem 0.25rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-mr-category-btn3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  padding: 0rem 0.25rem 0.375rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-mr-category-2btn3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  padding: 0rem 0.25rem 0.375rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-mr-category-btn1 {
  font-size: 1.25rem;
  font-weight: 500;
}
/* === MM CATEGORY BTN === */
.sh-mr-category-2btn3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  padding: 0rem 0.25rem 0.375rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
/* === SOLO MATCH DETAILS SECTION === */
/* === SOLO MATCH DETAILS CARD CONTAINER === */
.sh-smr-card-container{
  margin-top: 1rem;
}
.sh-solo-mr-card{
  padding: 0.3125rem;
  background-color: var(--secondary-color);
}
.sh-smr-card2{
  padding: 0.3125rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 93%, 96% 100%, 0 100%, 0 7%);
}
/* === Smr TYPE SECTION === */
.sh-smr-type-section{
  display: grid;
  column-gap: 0.1875rem;
  margin-top: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.sh-smr-type-box1{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--detail-border);
  clip-path: polygon(100% 0, 100% 80%, 95% 100%, 0 100%, 0 0);
}
.sh-smr-type-box2{
  padding: 0.1875rem 0rem 0.1875rem 0.125rem;
  text-align: start;
  color: var(--text-dark);
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 100% 79%, 95% 100%, 0 100%, 0 0);
}
.sh-smr-type-section-two{
  display: grid;
  column-gap: 0.1875rem;
  margin-top: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.sh-smr-type-box-last1{
  margin-top: 0.5rem;
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--detail-border);
  clip-path: polygon(100% 0, 100% 67%, 96% 100%, 0 100%, 0 0);
}
.sh-smr-type-box-last{
  padding: 0.1875rem 0rem 0.1875rem 0.125rem;
  text-align: start;
  color: var(--text-dark);
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 100% 65%, 96% 100%, 0 100%, 0 0);
}
.sh-smr-prize-card2{
  column-gap: 0.1875rem;
  margin-top: 1rem;

  grid-template-columns: repeat(2, 1fr);
  padding: 0.3125rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(4% 0, 100% 0%, 100% 87%, 96% 100%, 0 100%, 0 16%);
}
/* === HERE OUR RULES SECTION === */
.sh-smr-registered-player-section{
  margin-top: 1.5rem;
  padding: 0.3125rem;
  background-color: var(--secondary-color);
}
.sh-smr-rules-section{
  color: var(--quinary-color);
  margin-top: 1rem;
}
.sh-smr-rpp1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.25rem;
  font-size: 0.75rem;
  justify-content: center;
  background-color: var(--deeper-green);
  color: var(--quinary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-smr-rpp2 {
  display: flex;
  width: 100%;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 0rem 0.125rem 0.25rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-smr-rpp3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  margin-top: 1rem;
  background-color: var(--deeper-green);
  color: var(--quinary-color);
  padding: 0rem 0.25rem 0.375rem 0rem;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-smr-rpp1 {
  font-size: 1rem;
  font-weight: 500;
}
.sh-smr-rpp1 h1{
    padding: 0 10px;
}
/* === PARITCIPANTS === */
.sh-smr-participants-name{
  text-align: center;
  display: grid;
  margin-top: 0.5rem;
  grid-row-gap: 0.3125rem;
/*   grid-column-gap: 5px; */
  justify-content: space-between;
  grid-template-columns: 40% 15% 15% 25%;
}
.sh-smr-duo-participants-name{
  text-align: center;
  display: grid;
  grid-row-gap: 0.3125rem;
/*   grid-column-gap: 5px; */
  justify-content: space-between;
  grid-template-columns: 40% 15% 15% 25%;
}
.sh-smr-pn1{
  padding: 0.1875rem;
  background-color: var(--deeper-blue);
  clip-path: polygon(100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
}
.sh-smr-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, 100% 72%, 95% 100%, 0 100%, 0 0);
}
.sh-smr-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
.sh-smr-kill-pn1{
  padding: 0.1875rem;
  background-color: var(--deeper-blue);
  clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
}
.sh-smr-kill-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, 100% 74%, 91% 100%, 0 100%, 0 0);
}
.sh-smr-kill-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
.sh-smr-mp-pn1{
  padding: 0.1875rem;
  background-color: var(--deeper-blue);
  clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
}
.sh-smr-mp-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, 100% 74%, 91% 100%, 0 100%, 0 0);
}
.sh-smr-mp-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
/* ==== Amount ==== */
.sh-smr-amnt-pn1{
  padding: 0.1875rem;
  background-color: var(--deeper-blue);
  clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
}
.sh-smr-amnt-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, 100% 72%, 90% 100%, 0 100%, 0 0);
}
.sh-smr-amnt-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
/* === Player Name ===*/
.sh-smrp-pn1{
  padding: 0.1875rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
}
.sh-smrp-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, 100% 72%, 95% 100%, 0 100%, 0 0);
}
.sh-smrp-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
/* === Kill === */
.sh-smrp-kill-pn1{
  padding: 0.1875rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
}
.sh-smrp-kill-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, 100% 74%, 91% 100%, 0 100%, 0 0);
}
.sh-smrp-kill-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
/* === MP === */
.sh-smrp-mp-pn1{
  padding: 0.1875rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
}
.sh-smrp-mp-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, 100% 74%, 91% 100%, 0 100%, 0 0);
}
.sh-smrp-mp-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
/* === Amount === */
.sh-smrp-amnt-pn1{
  padding: 0.1875rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
}
.sh-smrp-amnt-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, 100% 72%, 90% 100%, 0 100%, 0 0);
}
.sh-smrp-amnt-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}

/* === Deuo Player Container === */
.sh-duo-container{
  display: grid;
  row-gap: 1px;
  padding: 0.3125rem;
  margin-top: 1rem;
  background-color: var(--detail-border);
  clip-path: polygon(45% 0, 45% 22%, 100% 22%, 100% 100%, 0 100%, 0 0);
}

.sh-duo-pn1{
  padding: 0.1875rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
}
.sh-duo-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 100% 72%, 95% 100%, 0 100%, 0 0);
}
.sh-duo-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}

/* === Kill === */
.sh-duo-kill-pn1{
  padding: 0.1875rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
}
.sh-duo-kill-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 100% 74%, 91% 100%, 0 100%, 0 0);
}
.sh-duo-kill-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}

/* === MP === */
.sh-duo-mp-pn1{
  padding: 0.1875rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
}
.sh-duo-mp-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 100% 74%, 91% 100%, 0 100%, 0 0);
}
.sh-duo-mp-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
/* === Amount === */
.sh-duo-amnt-pn1{
  padding: 0.1875rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
}
.sh-duo-amnt-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 100% 72%, 90% 100%, 0 100%, 0 0);
}
.sh-duo-amnt-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
/* === Total Calculation === */
/* === Team Name ===*/
.sh-dteam-pn1{
  padding: 0.1875rem;
  background-color: var(--deeper-green);
  clip-path: polygon(100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
}
.sh-dteam-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--text-dark);
  clip-path: polygon(100% 0, 100% 72%, 95% 100%, 0 100%, 0 0);
}
.sh-dteam-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}

/* === Total Kill === */
.sh-dteam-kill-pn1{
  padding: 0.1875rem;
  background-color: var(--deeper-green);
  clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
}
.sh-dteam-kill-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--text-dark);
  clip-path: polygon(100% 0, 100% 74%, 91% 100%, 0 100%, 0 0);
}
.sh-dteam-kill-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}

/* === MP === */
.sh-dteam-mp-pn1{
  padding: 0.1875rem;
  background-color: var(--deeper-green);
  clip-path: polygon(100% 0, 100% 71%, 90% 100%, 0 100%, 0 0);
}
.sh-dteam-mp-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--text-dark);
  clip-path: polygon(100% 0, 100% 74%, 91% 100%, 0 100%, 0 0);
}
.sh-dteam-mp-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}

/* === Amount === */
.sh-dteam-amnt-pn1{
  padding: 0.1875rem;
  background-color: var(--deeper-green);
  clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
}
.sh-dteam-amnt-pn2{
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--text-dark);
  clip-path: polygon(100% 0, 100% 72%, 90% 100%, 0 100%, 0 0);
}
.sh-dteam-amnt-pn1 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}

/* === Squad Container === */
.sh-squad-container{
  display: grid;
  row-gap: 1px;
  padding: 0.3125rem;
  margin-top: 1rem;
  background-color: var(--detail-border);
  clip-path: polygon(45% 0, 45% 15%, 100% 15%, 100% 100%, 0 100%, 0 0);
}
/* === Duo Registered Partcipants Section === */
.sh-sdm-duo-team{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

.sh-sdm-duo-team-num1{
  width: 40%;
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--deeper-green);
  clip-path: polygon(100% 0, 100% 67%, 90% 100%, 0 100%, 0 0);
}
.sh-sdm-duo-team-num2{
  padding-left: 0.3125rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 65%, 90% 100%, 0 100%, 0 0);
}
.sh-sdm-duo-team-num2, .sh-sdm-duo-team-name2 p{
  font-size: 1.125rem;
  color: var(--text-dark);
}
.sh-sdm-duo-team-name1{
  width: 100%;
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--deeper-green);
  clip-path: polygon(100% 0, 100% 65%, 95% 100%, 0 100%, 0 0);
}
.sh-sdm-duo-team-name2{
  padding-left: 0.3125rem;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 61%, 95% 100%, 0 100%, 0 0);
}