* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1524;
  --secondary-color: #2b3550;
  --tertiary-color: #1c243a;
  --quaternary-color: #000000;
  --quinary-color: #ffffff;
  --deeper-blue: #155c6e;
  --deeper-green: #216e15;
  --deeper-red: #8e1e0d;
  --text-dark: #aab2b7;
  --detail-border: #0f1524;
  --type-color: #212b47;
}

/* custom scroll bar */

.sh-my-match-main-section::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.sh-my-match-main-section::-webkit-scrollbar-track {
    background: linear-gradient(to top, var(--secondary-color), var(--quaternary-color));
}
.sh-my-match-main-section::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--secondary-color), var(--quaternary-color));
    border-radius:16px;
}
.sh-my-match-main-section::-webkit-scrollbar-button {
  display:none
}

/* ==== MAIN SECTION === */
.sh-my-match-main-section {
  justify-items: center;
  padding-bottom: 20px;
  background-color: var(--primary-color);
  height: 100vh;
  overflow-y: scroll;
}
/* === MY MATCHES CONTAINER === */
.sh-mm-container {
  width: 95%;
  margin-top: 20px;
}
/* === MM CATEGORY BTN === */
.sh-mm-category-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  color: var(--quinary-color);
  background-color: var(--secondary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-mm-category-btn-2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--quinary-color);
  padding: 0px 4px 6px 0px;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-mm-category-btn3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  padding: 0px 4px 6px 0px;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-mm-category-btn1 {
  font-size: 20px;
  font-weight: 600;
}
/* === My Matches Card === */
.sh-mm-card-container {
  margin-top: 20px;
}
.sh-mm-card-box {
  position: relative;
  margin-top: 16px;
  color: var(--text-dark);
  padding: 0px 0px 2px 0px;
  background-color: var(--secondary-color);
  clip-path: polygon(95% 0, 100% 15%, 100% 100%, 5% 100%, 0 85%, 0 0);
}
.sh-mm-card-box p {
  font-size: 18px;
}
.sh-mm-cards {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 30px;
  padding: 5px;
  background-color: var(--tertiary-color);
  clip-path: polygon(95% 0, 100% 15%, 100% 100%, 5% 100%, 0 85%, 0 0);
}
.sh-mm-left-item {
  margin-left: 5px;
}
.sh-mm-middle-item {
  display: grid;
  grid-template-columns: 1;
  row-gap: 8px;
}
.sh-mm-entry-fee {
  position: absolute;
  color: var(--quinary-color);
  background-color: var(--quaternary-color);
  padding: 5px 20px;
  top: 0;
  right: 0;
}
