* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1524;
  --secondary-color: #2b3550;
  --tertiary-color: #1c243a;
  --quaternary-color: #000000;
  --quinary-color: #ffffff;
  --deeper-blue: #155c6e;
  --deeper-green: #216e15;
  --deeper-red: #8e1e0d;
  --text-dark: #aab2b7;
  --detail-border: #0f1524;
  --type-color: #212b47;
}

/* === Profile Main Section === */
.sh-my-profile-main-section {
  justify-items: center;
  padding-bottom: 20px;
  background-color: var(--primary-color);
}

/* === Profile Main Container === */
.sh-my-profile-main-container {
  width: 95%;
  margin-top: 20px;
}
/* === MM CATEGORY BTN === */
.sh-myp-category-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  color: var(--quinary-color);
  background-color: var(--secondary-color);
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-myp-category-btn2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--quinary-color);
  padding: 0px 4px 6px 0px;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-myp-category-btn3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: var(--tertiary-color);
  color: var(--quinary-color);
  padding: 0px 4px 6px 0px;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 97% 100%, 0 100%, 0 30%);
}
.sh-myp-category-btn1 h1, span {
  font-size: 20px;
  font-weight: 500;
}
/* === Profile Image and Name === */
.sh-profile {
  margin-top: 20px;
  justify-items: center;
}
.sh-pImg {
  width: 60px;
  height: 60px;
  background-color: var(--tertiary-color);
  padding: 2px;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%
  );
}
.sh-profile img {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%
  );
}
.sh-profile h1 {
  font-size: 22px;
  font-weight: 500;
  color: var(--quinary-color);
}
/* === My Info === */
.sh-my-info-sec {
  display: grid;
  row-gap: 10px;
  padding: 5px;
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 100% 92%, 96% 100%, 0 100%, 0 0);
  margin-top: 16px;
}
.sh-myp-name1 {
  padding: 10px 5px;
  color: var(--text-dark);
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 80%, 97% 100%, 0 100%, 0 0);
}
.sh-myp-name1 p{
  font-size: 18px;
}
.sh-myp-name2 {
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--primary-color);
  clip-path: polygon(100% 0, 100% 80%, 97% 100%, 0 100%, 0 0);
}
