* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1524;
  --secondary-color: #2b3550;
  --tertiary-color: #1c243a;
  --quaternary-color: #000000;
  --quinary-color: #ffffff;
  --deeper-blue: #155c6e;
  --deeper-green: #216e15;
  --deeper-red: #8e1e0d;
  --text-dark: #aab2b7;
  --detail-border: #0f1524;
  --type-color: #212b47;
}

/* custom scroll bar */

.sh-profile-main-section::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.sh-profile-main-section::-webkit-scrollbar-track {
    background: linear-gradient(to top, var(--secondary-color), var(--quaternary-color));
}
.sh-profile-main-section::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--secondary-color), var(--quaternary-color));
    border-radius:16px;
}
.sh-profile-main-section::-webkit-scrollbar-button {
  display:none
}
html{
  scroll-behavior: smooth;
}

/* === Profile Main Section === */
.sh-profile-main-section {
  justify-items: center;
  padding-bottom: 100px;
  background-color: var(--primary-color);
  height: 100vh;
  overflow-y: scroll;
}

/* === Profile Main Container === */
.sh-profile-main-container {
  width: 95%;
  margin-top: 20px;
}
/* === Profile Image and Name === */
.sh-profile {
  justify-items: center;
  width: 100%;
}
.sh-pImg {
  width: 60px;
  height: 60px;
  background-color: var(--tertiary-color);
  padding: 2px;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%
  );
}
.sh-profile img {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%
  );
}
.sh-profile h1 {
  font-size: 22px;
  font-weight: 500;
  color: var(--quinary-color);
}
/* === Revenue Section === */
.sh-revenue-section {
  display: grid;
  margin-top: 16px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.sh-pRevenue-con2 {
  padding: 3px;
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 100% 85%, 96% 100%, 0 100%, 0 0);
}
.sh-pRevenue-con1 {
  padding: 5px;
  text-align: center;
  background-color: var(--tertiary-color);
  clip-path: polygon(100% 0, 100% 85%, 96% 100%, 0 100%, 0 0);
}
.sh-pRevenue-con1 h1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-dark);
}
.sh-pRevenue-con1 span {
  color: var(--deeper-green);
}
/* === Depo & Income Section === */
.sh-depo-income-section {
  display: grid;
  margin-top: 16px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.sh-Transaction-Btn1 {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: var(--quinary-color);
  background-color: var(--tertiary-color);
  clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
}
.sh-Transaction-Btn1 h1, .sh-Transaction-dbi-Btn1 h1{
  font-size: 16px;
    font-weight: 600;
}
.sh-Transaction-Btn2 {
  padding: 0px 0px 2px 0px;
  background-color: var(--quinary-color);
  clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
}
/* === Deposit by income Section === */
.sh-depo-income-wallet-section {
  margin-top: 16px;
}
.sh-Transaction-dbi-Btn1 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: var(--quinary-color);
  background-color: var(--tertiary-color);
  clip-path: polygon(3% 0, 100% 0, 100% 75%, 97% 100%, 0 100%, 0 25%);
}
.sh-Transaction-dbi-Btn2 {
  padding: 0px 0px 2px 0px;
  background-color: var(--quinary-color);
  clip-path: polygon(3% 0, 100% 0, 100% 75%, 97% 100%, 0 100%, 0 25%);
}
/* === Profile Detail Section === */
.sh-pDetails-section {
  display: grid;
  margin-top: 16px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.sh-pd-Btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 5px;
  color: var(--quinary-color);
  background-color: var(--tertiary-color);
  clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
}
.sh-pd-Btn1 p{
  font-size: 16px;
  font-weight: 500;
}
.sh-pd-Btn2 {
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--quinary-color);
  clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 20%);
}
/* === Help Section === */
.sh-help-section {
  display: grid;
  margin-top: 16px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}
.sh-help-box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: var(--quinary-color);
  background-color: var(--tertiary-color);
  clip-path: polygon(3% 0, 100% 0, 100% 75%, 97% 100%, 0 100%, 0 25%);
}
.sh-help-box1 p , .sh-eng-tl p {
  font-size: 16px;
}
.sh-help-box2 {
  padding: 0rem 0rem 0.125rem 0rem;
  background-color: var(--secondary-color);
  clip-path: polygon(3% 0, 100% 0, 100% 75%, 97% 100%, 0 100%, 0 25%);
}
.sh-vedio-box1 a{
  font-size: 16px;
  color: var(--tertiary-color);
}
.sh-eng-tl {
  display: flex;
  align-items: center;
}
.sh-eng-tl span {
  color: #dea403;
}
.sh-vedio-box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  background-color: var(--text-dark);
  clip-path: polygon(3% 0, 100% 0, 100% 75%, 97% 100%, 0 100%, 0 25%);
}
.sh-vedio-box2 {
  padding: 2px;
  background-color: #d9d9d9;
  clip-path: polygon(3% 0, 100% 0, 100% 75%, 97% 100%, 0 100%, 0 25%);
}
.sh-vedio-box1 span {
  color: var(--deeper-red);
}
/* === share section === */
.sh-share-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sh-depo-income-wallet-section {
  margin-top: 16px;
}
.sh-share-Btn1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  color: var(--quinary-color);
  background-color: var(--tertiary-color);
  clip-path: polygon(3% 0, 100% 0, 100% 75%, 97% 100%, 0 100%, 0 25%);
}
.sh-share-Btn2 {
  padding: 0px 0px 2px 0px;
  background-color: var(--quinary-color);
  clip-path: polygon(3% 0, 100% 0, 100% 75%, 97% 100%, 0 100%, 0 25%);
}
.sh-share-link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  padding: 2px;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%
  );
  margin-right: 0.3125rem;
}
.sh-share-link img {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%
  );
}
.sh-shareLI a{
  font-size: 20px;
}
