* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    --primary-color: #0F1524;
    --secondary-color: #2B3550;
    --tertiary-color: #1C243A;
    --quaternary-color: #000000;
    --quinary-color: #FFFFFF;
    --deeper-green: #155C6E;
}

.cba-footer-container {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 0.8rem 0.8rem;
    color: #ffffff;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    /* footer menu box  */
    .cba-fc-menu-con {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.8rem;
        /* footer menu box menu  */
        .cba-fc-mc-menu-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.2rem;
            cursor: pointer;
            position: relative;
            span:nth-child(1) {
                width: 4rem;
                height: 4rem;
                clip-path: polygon(0 25%, 25% 0, 0 0);
                background-color: var(--deeper-green);
                position: absolute;
                top: 0;
                left: 0;
            }
            span:nth-child(3) {
                width: 4rem;
                height: 4rem;
                clip-path: polygon(75% 100%, 100% 100%, 100% 75%);
                background-color: var(--deeper-green);
                position: absolute;
                bottom: -0px;
                right: 0;
                border: 1px solid var(--tertiary-color);
            }
            .cba-fc-mc-mb-menu {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 5px 10px;
                background-color: var(--tertiary-color);
                clip-path: polygon(20% 0, 100% 0, 100% 63%, 79% 100%, 0 100%, 0 35%);
                /* footer menu box menu image  */
                img {
                width: 1.5rem;
                height: 1.5rem;
                }
                /* footer menu box menu text  */
                h4 {
                    font-size: 0.65rem;
                    font-weight: 600;
                }
            }
        }
    }
}